$font-stack:	'Montserrat', sans-serif;
$font-secondary: 'Amaranth', sans-serif;
$primary-color:#72bf45;
$primary-font-color:#333333;
$black:			#000;
$white:			#fff;
$anchor-color:	#545353;
$linkHoverColor:#ef4123;
$green:#558f34;